# macOs only https://github.com/sorah/envchain
# envchain --set workshop RENOVATE_TOKEN
export RENOVATE_TOKEN=$(envchain workshop env | grep RENOVATE_TOKEN | cut -d'=' -f2)
export GITHUB_COM_TOKEN=$RENOVATE_TOKEN
